.git/
.venv/
venv/
env/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

.env
*.pem
*.key

data/local/
data/tmp/
logs/
reports/
*.log
*.msi

airflow.db
airflow.cfg
webserver_config.py
spark-warehouse/
metastore_db/
derby.log

.idea/
.vscode/
.DS_Store
Thumbs.db
